*
!.gitignore
!README.md
!assets/
!assets/header.png
!assets/avatar.png
!assets/connect-github.svg
!assets/connect-x.svg
!assets/icons/
!assets/icons/languages.svg
!assets/icons/backend-data.svg
!assets/icons/frontend.svg
!assets/icons/pytorch.svg
!assets/icons/tools.svg
!assets/study/
!assets/study/about.svg
!assets/study/fields.svg
!assets/study/craft.svg
!assets/study/experience.svg
!assets/study/exploring.svg
!assets/study/bookend.svg
!assets/study/connect.svg
